$mine-shaft: #3F3F3F;
$charcoal: #232323;
$cod-gray: #141414;
$sunshade: #ffa624;
$dove-gray: #6e6e6e;
$bright-red: #b50010;
$white: #ffffff;
$alto: #dcdcdc;

$text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
$filter-shadow: 1px 1px 2px rgba(0,0,0,0.3);

$break-small: 800px;
