.form-buttons {
    padding: 10px;
}

.form-button {
    margin-right: 5px;
}

.form-block {
    display: flex
}

.input-area {
    flex-basis: 80%;
    padding: 10px;
}

#comments-area {
    flex-basis:80%;
    padding: 10px;
}

#selections-area {
    flex-basis: 20%;
    padding: 10px;
}

.form-group-row {
    margin-bottom: 10px;
}

.form-input {
    width: 98%;
    border-radius: 4px;
    padding: 5px;
    margin:5px 20px 5px 5px;
}

.target-date {
    border-radius: 4px;
}

.comment-history {
    padding-left: 5px;
    margin-bottom: 10px;
    min-height: 150px;
    color: $comment-text;
    background-color: $comment-history;
}

.button-comment {
    margin: 0px 5px 10px 5px;
}


