.form-buttons {
    padding: 10px;
}

.form-button {
    margin-right: 5px;
}

#error-form {
    display: flex
}

#input-area {
    flex-basis: 80%;
    padding: 10px;
}

#status-area {
    flex-basis: 20%;
    padding: 10px;
}

.form-group-row {
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
}
